bin/
obj/
publish*/
logs/
backups/
data/
.vs/
.vscode/
.idea/
.azure/

*.user
*.suo
*.log
*.zip

appsettings.Development.json
appsettings.Local.json
local.settings.json
secrets.json
scratch/
*.db
*.db-shm
*.db-wal

